<h1>RIRA Configuration</h1>

<%= link_to 'Add New Key/Value', new_admin_konfig_path, :class => 'minibutton' %>

<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th>Owner</th>
    <th></th>
  </tr>

<% @konfigs.each do |konfig| %>
  <tr>
    <td><%= link_to konfig.key, edit_admin_konfig_path( konfig ) %></td>
    <td><%= link_to konfig.value, edit_admin_konfig_path( konfig ) %></td>
    <td><%= link_to konfig.owner, edit_admin_konfig_path( konfig ) %></td>
    <td><%= link_to 'x', admin_konfig_path( konfig ), method: :delete, data: { confirm: 'Are you sure you want to remove a configuration pair ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Key/Value', new_admin_konfig_path, :class => 'minibutton' %>
