<br/>
<h3>Change Password</h3>
<%= form_for(@user, :url => chgpswd_path ) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.label :email %><br />
      <%=  email_field :user, :email, :readonly => true, :value => @user.email %>
    </div>
    <div class="field">
      <%= f.label :old_password %><br />
      <%= f.password_field :old_password %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %> </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Update", :class => 'minibutton' %> </div>
      <br/>
<% end %>
